<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>I'm a robot. Hu ha ha :P</p>
    <img class="portrait" src="/img/robot.png" alt="RoooooBoooooT">
  </div>

  {{>footer}}
</body>

</html>