<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <This><a href="http://weatherbd.cf">WeatherBD.cf</a> is a small project made using Node.js. This website
      uses data from <a href="http://mapbox.com">Mapbox</a> and <a href="http://darksky.net">DarkSky</a>.</p>
      <img class="portrait" src="/img/weather.jpg" alt="Weather">
  </div>

  {{>footer}}
</body>

</html>