<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>
      <ul>
        <li>If a smaller area (village or sub-district) is not found, then try searching for
          a larger area (district).</li>
        <li>Make sure the spelling is correct.</li>
        <li>Example: <strong>Sylhet, Bangladesh</strong></li>
      </ul>
      Thanks for using the website.
    </p>
  </div>

  {{>footer}}
</body>

</html>