body {
  color: #333333;
  font-family: "Courier New", Courier, monospace;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  /* pushing footer bottom using css flexbox: start */
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.main-content {
  flex-grow: 1;
}
/* pushing footer bottom using css flexbox: end */

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

a {
  color: steelblue;
  text-decoration: none;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}
